@use "../abstract/variables.scss" as *;
@use "../abstract/mixins.scss" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: $color-text-muted-light transparent;
    scrollbar-width: thin;
}

html {
    font-size: 100%;
}

body {
    font-family: $font-family;
    background-color: $bg-primary;
    color: $text-main;
    min-height: 100vh;
    overflow: hidden;
}

button {
    font-family: inherit;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
}

input {
    font-family: inherit;
    border: none;
    outline: none;
}