// Brand Colors
$color-dark: #0d0d0d;
$color-dark-surface: #171717;
$color-dark-card: #212121;
$color-dark-border: #2f2f2f;

$color-light: #ffffff;
$color-light-surface: #f9f9f9;
$color-light-card: #f4f4f4;
$color-light-border: #e5e5e5;

$color-text-main-dark: #ececec;
$color-text-muted-dark: #b4b4b4;
$color-text-main-light: #0d0d0d;
$color-text-muted-light: #afafaf;

$color-accent: #10a37f;
$color-blue: #21005d;
$free-offer: #63A8f8;
$color-grey: #9ca3af;
$color-red : #ef4444;
$color-accent-dark : #00875a;

$bg-primary: $color-dark;
$bg-secondary: $color-dark-surface;
$bg-card: $color-dark-card;
$border-color: $color-dark-border;
$text-main: $color-text-main-dark;
$text-muted: $color-text-muted-dark;

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
$font-size-sm: 0.825rem;
$font-size-base: 0.9375rem;
$font-size-lg: 1.125rem;
$font-size-title: 2rem;